body, div{
    padding: 0;
    margin: 0;
}

div{
    background-color: aqua;
    height: 100vh;
}

/* Figuras creadas por mi */
.figuras{
    /* display: flex; */
    position: absolute;
    width: 10vh;
    height: 10vh;
    /* left: 50px; */
    /* top: 50px; */

}